---
name: Static Base Management

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
#  lint:
#    name: Lint Code
#    uses: DLRSP/workflows/.github/workflows/lint.yaml@v1.15.20

  ci:
    name: Continuous Integration
    uses: DLRSP/workflows/.github/workflows/ci.yaml@v1.15.45
    secrets: inherit

  changelog:
    name: Changelog & Release Management
    needs: [ci]
    uses: DLRSP/workflows/.github/workflows/changelog.yaml@v1.15.45
    if: |
      github.ref == 'refs/heads/main' &&
      github.event_name == 'push' &&
      (contains(github.event.head_commit.modified, 'changelog.md') ||
       contains(github.event.head_commit.modified, 'pyproject.toml'))
    secrets: inherit

#  cd-release:
#    name: Build & Release (crea tag e GitHub Release)
#    needs: [ci, upgrade-static-files, changelog]
#    uses: DLRSP/workflows/.github/workflows/cd-release.yaml@v1.15.32
#    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
#    secrets: inherit

  label-pr:
    name: Label Pull Request
    uses: DLRSP/workflows/.github/workflows/labeller-file-based.yaml@v1.15.45
    if: github.event_name == 'pull_request'
    secrets: inherit

  rebase-pr:
    name: Rebase PR on Push
    uses: DLRSP/workflows/.github/workflows/pr-rebase-on-push.yaml@v1.15.45
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    secrets: inherit

  label-merge-conflicts:
    name: Label Merge Conflicts
    uses: DLRSP/workflows/.github/workflows/pr-label-merge-conflicts.yaml@v1.15.45
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    secrets: inherit

  docs:
    name: Build and Deploy Documentation
    if: |
      (github.event_name == 'push' && github.ref == 'refs/heads/main' && 
       (contains(join(github.event.head_commit.modified, ','), 'docs/') ||
        contains(join(github.event.head_commit.added, ','), 'docs/') ||
        contains(join(github.event.head_commit.removed, ','), 'docs/') ||
        contains(join(github.event.head_commit.modified, ','), 'README.md') ||
        contains(join(github.event.head_commit.modified, ','), 'CHANGELOG.md') ||
        contains(join(github.event.head_commit.modified, ','), 'mkdocs.yml'))) ||
      github.event_name == 'workflow_dispatch'
    uses: DLRSP/workflows/.github/workflows/docs.yaml@v1.15.45
    secrets: inherit
